#abstractInfo{
    width: 25%;
    display: flex;
    background-color: #EDF5E0;
    padding: 10px;
    align-items: center;
    float: left;
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(0,143,104), rgb(182, 7, 59));
    color: #EDF5E0;
}
#usrIcon{
    height: 70px !important;
    width: 70px !important;
    border-radius: 50%;

}
#infoText{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 5%;
    justify-content: space-evenly;
    font-size: 20px;
}

#changePass{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    background-color: #EDF5E0;
    padding: 10px;
    float: left;
    border-radius: 5px;
    margin-top: 8%;
}
#passIcon{
    height: 30px;
    width: 30px;
}
    