.sliderBanner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
}
.actualBanner{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}
.arrowLeft{
    position: absolute;
    top:50%;
    left: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: #EDF5E0;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    padding: 3px;
}
.arrowRight{
    position: absolute;
    top:50%;
    right: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: #EDF5E0;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    padding: 3px;
}
.arrowLeft:hover, .arrowRight:hover{
    background-color: rgba(0,0,0,1);
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.02);
}