.filterBlock{
    position: relative;
    width: 200px;
    background-color: #EDF5E0;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;   
}
.filterBlock fieldset{
    border: 2px solid;
    border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(182, 7, 59));
    border-image-slice: 1;
}
.filterHeader{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(45deg, rgb(0,143,104), rgb(182, 7, 59));
    border-radius: 5px;
    padding: 7px;
    color: #EDF5E0;
}
.avInner{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}
.conInner{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}
.catInner{
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}
.avIcons{
    height: 35px !important;
    width: 35px !important;
    border: solid 2px black;
    padding: 2px;
    cursor: pointer;
}
.avIconsClicked{
    height: 35px !important;
    width: 35px !important;
    border: solid 2px black;
    padding: 2px;
    cursor: pointer;
    background-color: #86C232;
}
.conIcons{
    height: 35px;
    width: 35px;
    border: solid 2px black;
    padding: 2px;
    cursor: pointer;
}
.conIconsClicked{
    height: 35px;
    width: 35px;
    border: solid 2px black;
    padding: 2px;
    cursor: pointer;
    background-color: #86C232;
}
fieldset {
    margin: 5px;
  }
.filterBlock legend {
    background-color:#222629;
    margin-left: -10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color:#EDF5E0;
    border-radius: 2px;
    font-size: 12px;
}
.catList{
    padding: 5px;
    display: flex;
    align-items: center;
}
.catList label{
    margin-left: 10px;
}

.filterButton{
    
    background-color: #222629;
    color: #EDF5E0;
    width: 80%;
    padding: 4px 10px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;  
    align-items: center; 
    border-radius: 5px;
}

#clearAll{
    cursor: pointer;
}