#cardBlock{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    background-color: #EDF5E0;
    margin: 5px;
    align-items: center;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}
.cardImage{
    height: 120px;
    width: 230px;
    align-items: center;
    margin-top: 5px;
    object-fit: contain;
}
#cardMainBlock{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 35px;
    padding-top: 10px;
}
#cardMainBlock{
    flex-basis:calc(25% - 40px);
}
#cardBlock_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#cardButtonContact{
    background-color: #222625;
}