#itemsBlock{
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#itemsBlock p{
    margin-top: 5px;
    color: #EDF5E0;
}

.prev-next-button{
    
    background-color: #86C232;
    color: black;
    padding: 8px 10px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;  
    align-items: center;  
}