#itemsBlock{
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
#itemsBlock p{
    margin-top: 5px;
    color: #EDF5E0;
}

.prev-next-button{
    position: relative;
    background-color: #86C232;
    bottom: 0;
    color: black;
    padding: 8px 10px;
    border: none;
    cursor: pointer;  
    align-items: center;
    border-radius: 5px;  
}

#componentButtons{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;   
    margin-top: 5%;
    justify-content: space-evenly;

}