#messageInfoBlock{
    width: 25%;
    background-color: #86C232;
    align-items: center;
    float: left; 
}
#messageNavItem{
    width: 99%;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px 1px;
    
}

#messageInfoBlock p:hover{
    background-color: #EDF5E0;
}

#messageInfoBlock p.active{
    background-color: #EDF5E0;
}