#messageInfoBlock{
    width: 25%;
    background-image: linear-gradient(45deg, rgb(0,143,104), rgb(182, 7, 59));
    align-items: center;
    float: left; 
    color: #EDF5E0;
    margin-left: 1%;

}
#messageNavItem{
    width: 99%;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px 1px;
    
}

#messageInfoBlock p:hover{
    background-color: #222625;
}

#messageInfoBlock p.active{
    background-color: #EDF5E0;
}