.modalWrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.modalBackdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
}
.modalBox{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 60%;
    width: 30%;
    background-color: #EDF5E0;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    z-index: 101;
    border: 10px solid;
    border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
    border-image-slice: 1;
}