#formMainBlock{
    background-color: #EDF5E0;
    width: 70%;
    min-height: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-width: 4px;
    border-style: solid;
    padding: 10px;
    border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 1)
    ) 1 100%;
}
#formMainBlock h2{
    background-image: linear-gradient(45deg, rgb(0,143,104), rgb(182, 7, 59));
    color: #EDF5E0;
    width: 99%;
    text-align: center;
    padding: 5px;
}
.formField{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formField fieldset{
    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(182, 7, 59));
    border-image-slice: 1;
}
.formField input[type=text]{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.formField, select{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
}
.bookDetail , .adDetail{
   padding:5px
}

.formField legend {
    background-color:#222629;
    margin-left: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color:#EDF5E0;
    border-radius: 2px;
    font-size: 12px;
}
#availableOption input{
    padding-right: 10px;
    padding-left: 10px;
}
#fileUpload{
    margin-top: 8px;
}
#buttonsDiv{
    display: flex;
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

.formField button:hover {
  opacity: 0.8;
}
.formField button {
background-color: #5CDA93;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
margin: auto;
}
#cancelButton{
    width: 20%;
    background-color: #C3083F;
    margin: 2px;
}
#submitButton{
    flex: 1;
    margin: 2px;
}
/*.onAvailable{
    display: none;
}*/
/* .onAvailable{
    display: initial;
} */
.inputField textarea{
    resize: none;
    width: 100%;
}