.searchDropdown {
    font-weight: 300;
    display: inline-block;
    position: absolute;
    width:29%;
    margin-top: 25px;
    background-color: #EDF5E0 !important;
    border-radius: 5px;
    left: 0;
    margin-left: 31.5%;
    list-style-type: none;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    
}

.searchDropdownItem {
    list-style: none;
    display: block;
    margin: 0 auto;
    list-style-type: none;
    background-color: #EDF5E0;
    height: 20px;
    border-bottom: 1px solid #6A6E71;
    font-size: 16px;
    padding: 0 5px;
}
.searchDropdownItem:hover {
    cursor: pointer;
    list-style: none;
    display: block;
    margin: 0 auto;
    list-style-type: none;
    background-color: gray;
}
.searchDropdownItemActive {
    list-style: none;
    display: block;
    margin: 0 auto;
    list-style-type: none;
    background-color: gray;
}


