.searchDropdown {
    font-weight: 300;
    display: inline-block;
    position: absolute;
    width: 350px;
    margin: 0;
    margin-top: 25px;
    background-color: #EDF5E0 !important;
    border-radius: 5px;
    left: 0;
    margin-left: 430px;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.searchDropdownItem {
    list-style: none;
    display: block;
    margin: 0 auto;
    list-style-type: none;
    background-color: #EDF5E0;
    height: 20px;
    

}
.searchDropdownItem:hover {
    cursor: pointer;
    list-style: none;
    display: block;
    margin: 0 auto;
    list-style-type: none;
    background-color: gray;
}
.searchDropdownItemActive {
    list-style: none;
    display: block;
    margin: 0 auto;
    list-style-type: none;
    background-color: gray;
}


