#itemsDiplayedBlock{
    width: 70%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#userItemsBlock{
    display: flex;
    flex-direction: row;
    background-color: #EDF5E0;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;
    border-left: 10px solid #008F68;
    border-right: 10px solid #B6073B;
    border-radius: 2em 1em 4em / 0.5em 3em;
    border-image-slice: 1;
    box-shadow: 0 0 10px rgba(237, 245, 224,0.5);
    
}
#itemInfo{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 2px;
    justify-content: space-evenly;
}
#itemButton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
#itemImage{
    height: 120px;
    width: 120px;
    align-items: center;
    object-fit: contain;
    background-color: #222629;
    border-radius: 50%;
}
#itemButton > *{
    color: #222629;
    padding-bottom: 5px;
}